<%= form_for(@quiz) do |f| %>
  <h2> 問題文 </h2>
  <div>
    <%= f.text_area :quiz, size: "50x3", placeholder:"問題文を入力してください。" %>
  </div>

    <h2>選択肢</h2>
      <% x = 1 %>
      <%= f.fields_for :choices do |c| %>
        <div>
          <%= "選択肢#{x}"%>
          <% x += 1%>
        </div>
        <div>
          <%= c.text_field :choice, size: "40x1" %>
        </div>
        <br>
      <% end %>
      <h4>答えにする選択肢を一つだけ選んでチェックをつけてください。</h4>

      <label><%= radio_button_tag :select_anwser, "0", checked: true %>選択肢1</label><br>
      <label><%= radio_button_tag :select_anwser, "1" %>選択肢2</label><br>
      <label><%= radio_button_tag :select_anwser, "2" %>選択肢3</label><br>
      <label><%= radio_button_tag :select_anwser, "3" %>選択肢4</label>

      <div>
        <%= f.submit "問題登録" %>
      </div>
<% end %>
<br><br>
<%= link_to "トップ画面に戻る", root_path %>