<h3>四択問題投稿サイト</h3>
<h1>Yon-taQ</h1>

<div>


<% if user_signed_in? %>
  <h4>ログインネーム・<%= current_user.name %> </h4><div>
  <%= link_to "クイズ新規投稿はこちらから!", new_quiz_path, class: "btn btn-primary"%> <div><br>
  <%= link_to "投稿されたクイズで遊ぶ (ランダムで5問出題されます)", plays_path, class: "btn btn-primary"%> <div><br>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-primary"%> 
<% else %>
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %><div><br>
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary"%>

<% end %>