<% if session[:rand_quiz].length < 5 %>
  <h3>
  ごめんなさい<br>
  問題が5問以上登録されておりません...
  </h3><br><br>
<% else %>

  <%= form_with(url: anwser_plays_path, method: :post, local: true) do |f|%>  
  <% @quizzes = session[:rand_quiz][0] %>
 
  <% @choices = Choice.where(quiz_id: @quizzes.id) %>
  <% first_choice = @choices[0][:id] %>
  
  <span class="quiztext">
  <h3>Q.<%= @quizzes.quiz %></h3></span>
 
    <% x = 1 %>

  <% @choices.each do |choice| %>
    <h4>
        <%= f.radio_button :anwser, choice.id, checked: first_choice == choice.id %>
        <%= "#{x}." + choice.choice%><div>
        <% x += 1 %>
    </h4>
  <% end %>
  <br><br>
    <%= f.submit "解答", class: "btn btn-primary" %>
  <% end %>
  <br><br><br>
<% end %>
<%= link_to "トップ画面に戻る", root_path %>